In [2]:
import numpy as np
import pandas as pd
from matplotlib import pylab
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches
import math
import csv

In [3]:
country_media = pd.read_csv('media_country.csv',header=None)
country_media.head()

                         0              1
0                  007.com  United States
1            042mp3.com.ng        Nigeria
2         06880danwoog.com  United States
3           10000birds.com  United States
4  1000islands-clayton.com  United States

In [4]:
country_media_columns=['媒体','国家']
country_media.rename(columns=dict(zip(np.arange(2),country_media_columns)),inplace=True)

In [5]:
country_media = country_media[~country_media['国家'].isin([' ','-'])]
country_media.head()

                        媒体             国家
0                  007.com  United States
1            042mp3.com.ng        Nigeria
2         06880danwoog.com  United States
3           10000birds.com  United States
4  1000islands-clayton.com  United States

In [6]:
country_media_count = country_media['媒体'].groupby(country_media['国家']).count().sort_values(ascending=False)
country_media_count.name = '媒体数量'
country_media_count_heat = country_media_count[country_media_count>100].reset_index(inplace=0)
# country_media_count_heat.head()
country_media_count_heat[:20]
# country_media_count

                国家   媒体数量
0    United States  20619
1   United Kingdom   2380
2            India   1281
3           Canada   1072
4        Australia    805
5     South Africa    331
6          Nigeria    305
7            Italy    234
8          Germany    233
9           France    232
10           China    212
11     Philippines    193
12         Ireland    188
13       Singapore    150
14     New Zealand    137
15           Japan    131
16           Spain    130
17          Russia    115
18        Malaysia    108
19        Pakistan    102

In [7]:
pd.set_option('display.width',400)

In [8]:
# data = pd.read_csv('CHN-USA-2017.csv',header=None)
# data = pd.read_csv('USA-SYR-2017.csv',header=None)
# data = pd.read_csv('PHL-CHN-201704.csv',header=None)
# data = pd.read_csv('CHN-HKZ-20130907_1.0.csv',header=None)
# data = pd.read_csv('CHN-IDN-20131003_1.0.csv',header=None)
data = pd.read_csv('CHN20170514_1.0.csv',header=None)
data.head()

          0           1    2   3    4    5    6    7         8   9   10  11  12                                                 13              14             15
0  653551232  2017-05-08  CHN NaN  NaN  NaN -0.4   19 -2.904630   1   1  12  12  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States
1  653551235  2017-05-08  CHN NaN  NaN  NaN  3.0   29 -3.090130   1   2  20  20  http://news.lycos.com/life/some-chinese-migran...  news.lycos.com  United States
2  653551234  2017-05-08  CHN NaN  NaN  NaN  3.0  216 -1.394000   1   2  20  20  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States
3  653551237  2017-05-08  CHN NaN  NaN  NaN  1.9   50 -0.057268   1   4  42  42  http://www.stuff.co.nz/travel/news/92324806/Ho...     stuff.co.nz    New Zealand
4  653551233  2017-05-08  CHN NaN  NaN  NaN -0.4   51 -3.083560   1   1  12  12  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States

In [9]:
columns = ['ID','日期','实体1国家','实体1组织','实体2国家','实体2属性','冲突合作指数','报道量','平均情感','事件类型','基事件编码','根事件编码','事件编码','链接','媒体','媒体国家']
data.rename(columns=dict(zip(np.arange(16), columns)),inplace=True)
data.head()

          ID          日期 实体1国家  实体1组织 实体2国家 实体2属性  冲突合作指数  报道量      平均情感  事件类型  基事件编码  根事件编码  事件编码                                                 链接              媒体           媒体国家
0  653551232  2017-05-08   CHN    NaN   NaN   NaN    -0.4   19 -2.904630     1      1     12    12  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States
1  653551235  2017-05-08   CHN    NaN   NaN   NaN     3.0   29 -3.090130     1      2     20    20  http://news.lycos.com/life/some-chinese-migran...  news.lycos.com  United States
2  653551234  2017-05-08   CHN    NaN   NaN   NaN     3.0  216 -1.394000     1      2     20    20  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States
3  653551237  2017-05-08   CHN    NaN   NaN   NaN     1.9   50 -0.057268     1      4     42    42  http://www.stuff.co.nz/travel/news/92324806/Ho...     stuff.co.nz    New Zealand
4  653551233  2017-05-08   CHN    NaN   NaN   NaN    -0.4   51 -3.083560     1      1     12    12  http://www.reuters.com/article/us-china-hutong...     reuters.com  United States

In [11]:
#报道媒体数量
len(np.unique(data['链接']))
# len(np.unique(data['媒体']))

9191

In [12]:
#去除没有识别国别的媒体
data_country = data[~data['媒体国家'].isin([' ','-'])]
data_country

              ID          日期 实体1国家  实体1组织 实体2国家 实体2属性  冲突合作指数  报道量      平均情感  事件类型  基事件编码  根事件编码  事件编码                                                 链接                             媒体           媒体国家
0      653551232  2017-05-08   CHN    NaN   NaN   NaN    -0.4   19 -2.904630     1      1     12    12  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
1      653551235  2017-05-08   CHN    NaN   NaN   NaN     3.0   29 -3.090130     1      2     20    20  http://news.lycos.com/life/some-chinese-migran...                 news.lycos.com  United States
2      653551234  2017-05-08   CHN    NaN   NaN   NaN     3.0  216 -1.394000     1      2     20    20  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
3      653551237  2017-05-08   CHN    NaN   NaN   NaN     1.9   50 -0.057268     1      4     42    42  http://www.stuff.co.nz/travel/news/92324806/Ho...                    stuff.co.nz    New Zealand
4      653551233  2017-05-08   CHN    NaN   NaN   NaN    -0.4   51 -3.083560     1      1     12    12  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
5      653551236  2017-05-08   CHN    NaN   NaN   NaN     3.0   75 -3.083560     1      2     20    20  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
6      653551238  2017-05-08   CHN    NaN   NaN   NaN     2.8   84 -3.066340     1      4     43    43  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
7      653551239  2017-05-08   CHN    NaN   NaN   NaN     2.8   50  0.317213     1      4     43    43  http://www.stuff.co.nz/travel/news/92324806/Ho...                    stuff.co.nz    New Zealand
8      653551240  2017-05-08   CHN    NaN   NaN   NaN     2.8   12 -3.066340     1      4     43    43  http://www.reuters.com/article/us-china-hutong...                    reuters.com  United States
9      653551241  2017-05-08   CHN    NaN   NaN   NaN     7.0   52 -0.057268     1      4     46    46  http://www.stuff.co.nz/travel/news/92324806/Ho...                    stuff.co.nz    New Zealand
10     653551242  2017-05-08   CHN    NaN   NaN   NaN     8.0   28  0.718664     1      5     57    57  http://www.axs.com/miranda-lambert-to-direct-m...                        axs.com  United States
11     653551243  2017-05-08   CHN    NaN   NaN   NaN     7.0   10  0.578035     2      7     70    70  http://www.chinadaily.com.cn/business/2017top1...              chinadaily.com.cn          China
12     653551244  2017-05-08   CHN    NaN   NaN   NaN     7.4   51 -1.088180     2      7     71    71  http://punemirror.indiatimes.com/news/world/la...      punemirror.indiatimes.com          India
13     653551250  2017-05-08   CHN    NaN   USA   NaN     2.8   32 -0.557750     1      4     43    43  http://punemirror.indiatimes.com/news/world/la...      punemirror.indiatimes.com          India
14     653551251  2017-05-08   CHN    NaN   USA   NaN     2.8    2 -0.961538     1      4     43    43  http://punemirror.indiatimes.com/news/world/la...      punemirror.indiatimes.com          India
15     653551252  2017-05-08   CHN    NaN   NaN   NaN     7.0   22 -1.137220     1      5     55    55  http://wesa.fm/post/kushner-companies-pitch-ch...                        wesa.fm  United States
16     653551253  2017-05-08   CHN    NaN   NaN   NaN     7.0   10 -0.846802     1      5     55    55  http://wesa.fm/post/kushner-companies-pitch-ch...                        wesa.fm  United States
17     653554557  2017-05-08   CHN    NaN   NaN   NaN     0.0  111  0.035062     1      1     10    10  http://www.japantimes.co.jp/news/2017/05/08/bu...               japantimes.co.jp          Japan
18     653554558  2017-05-08   CHN    NaN   NaN   NaN     0.0  100  0.361814     1      1     10    10  http://www.popsugar.com/love/Reasons-Use-Vagin...                   popsugar.com  United States
19     653554559  2017-05-08   CHN    NaN   NaN   NaN     3.0  118 -0.001346     1      2     20    20  http://www.crunchyroll.com/forumtopic-986567/t...                crunchyroll.com  United States
20     653554560  2017-05-08   CHN    NaN   NaN   NaN     3.4    3  1.411760     1      5     51    51  http://www.gdnonline.com/Details/203422/%E2%80...                  gdnonline.com        Bahrain
21     653554561  2017-05-08   CHN    NaN   NaN   NaN     7.4    3  1.079910     2      7     71    71  https://www.cambodiadaily.com/news/tycoons-rev...              cambodiadaily.com       Cambodia
22     653554562  2017-05-08   CHN    NaN   NaN   NaN     8.3    9 -1.147040     2      7     72    72  https://www.washingtonpost.com/opinions/global...             washingtonpost.com  United States
23     653554563  2017-05-08   CHN    NaN   NaN   NaN     8.3    1 -0.235571     2      7     72    72  https://www.washingtonpost.com/opinions/global...             washingtonpost.com  United States
24     653554565  2017-05-08   CHN    NaN   NaN   NaN     3.5  114 -0.794078     1      5     50    50  http://www.japantimes.co.jp/news/2017/05/08/bu...               japantimes.co.jp          Japan
25     653554566  2017-05-08   CHN    NaN   CHN   NaN     3.5    2 -0.500000     1      5     50    50  http://www.japantimes.co.jp/news/2017/05/08/bu...               japantimes.co.jp          Japan
26     653554567  2017-05-08   CHN    NaN   CHN   NaN     3.5    8 -0.621467     1      5     50    50  http://www.japantimes.co.jp/news/2017/05/08/bu...               japantimes.co.jp          Japan
27     653554568  2017-05-08   CHN    NaN   CHN   NaN     0.0    3 -1.648350     1      1     10    10  https://www.washingtonpost.com/opinions/global...             washingtonpost.com  United States
28     653554569  2017-05-08   CHN    NaN   GBR   NaN     0.4    2  1.094890     1      1     13    13  http://guernseypress.com/business/city-news/20...              guernseypress.com       Guernsey
29     653554570  2017-05-08   CHN    NaN   GBR   NaN     0.4    2  1.094890     1      1     13    13  http://guernseypress.com/business/city-news/20...              guernseypress.com       Guernsey
...          ...         ...   ...    ...   ...   ...     ...  ...       ...   ...    ...    ...   ...                                                ...                            ...            ...
24546  655908548  2017-05-15   CHN    NaN   SAU   NaN     8.0    6  2.674900     1      5     57    57  http://english.aawsat.com/asharq-al-awsat-engl...             english.aawsat.com   Saudi Arabia
24547  655908549  2017-05-15   CHN    NaN   SAU   NaN     8.0    2  2.674900     1      5     57    57  http://english.aawsat.com/asharq-al-awsat-engl...             english.aawsat.com   Saudi Arabia
24548  655908550  2017-05-15   CHN    NaN   SGP   NaN     3.5    2  2.505970     1      5     50    50  http://www.ft.lk/article/615505/China-s--Belt-...                          ft.lk      Sri Lanka
24549  655908551  2017-05-15   CHN    NaN   SGP   NaN     3.5    2  2.505970     1      5     50    50  http://www.ft.lk/article/615505/China-s--Belt-...                          ft.lk      Sri Lanka
24550  655908552  2017-05-15   CHN    NaN   SGP   NaN     3.5    6  2.505970     1      5     50    50  http://www.ft.lk/article/615505/China-s--Belt-...                          ft.lk      Sri Lanka
24551  655908553  2017-05-15   CHN    NaN   CHN   NaN     8.0    2  2.272730     1      5     57    57  http://pakobserver.net/obor-can-turn-tides-ter...                pakobserver.net       Pakistan
24552  655908554  2017-05-15   CHN    NaN   LKA   NaN     4.0   10  1.365190     1      3     30    30  http://www.ft.lk/article/615485/China-assures-...                          ft.lk      Sri Lanka
24553  655911043  2017-05-14   CHN    NaN   CHN   NaN     0.0    7  0.913242     1      1     14    14  https://www.middleeastmonitor.com/20170515-egy...          middleeastmonitor.com  United States
24554  655911044  2017-05-14   CHN    NaN   CHN   NaN     0.0    1  0.913242     1      1     14    14  https://www.middleeastmonitor.com/20170515-egy...          middleeastmonitor.com  United States
24555  655911395  2017-05-15   CHN    NaN   NaN   NaN     7.0    5  1.937410     2      7     70    70  http://www.pressreleaserocket.net/global-hydro...         pressreleaserocket.net  United States
24556  655911399  2017-05-15   CHN    NaN   NaN   NaN     3.0    9  0.547945     1      2     20    20  http://www.themotorreport.com.au/65122/great-w...          themotorreport.com.au      Australia
24557  655911400  2017-05-15   CHN    NaN   NaN   NaN     3.0    1  0.547945     1      2     20    20  http://www.themotorreport.com.au/65122/great-w...          themotorreport.com.au      Australia
24558  655911401  2017-05-15   CHN    NaN   NaN   NaN     6.4    2  0.830565     2      6     61    61  http://prensariotiretail.com/2017/05/16/u-s-an...          prensariotiretail.com            NaN
24559  655911402  2017-05-15   CHN    NaN   NaN   NaN     6.4    2  0.830565     2      6     61    61  http://prensariotiretail.com/2017/05/16/u-s-an...          prensariotiretail.com            NaN
24560  655911403  2017-05-15   CHN    NaN   NaN   NaN     6.4    6  0.830565     2      6     61    61  http://prensariotiretail.com/2017/05/16/u-s-an...          prensariotiretail.com            NaN
24561  655911404  2017-05-15   CHN    NaN   MNG   NaN     1.9    4  1.083030     1      4     42    42  https://www.thesun.co.uk/living/3569281/worlds...                   thesun.co.uk  United States
24562  655911405  2017-05-15   CHN    NaN   MNG   NaN     2.8    8  1.083030     1      4     43    43  https://www.thesun.co.uk/living/3569281/worlds...                   thesun.co.uk  United States
24563  655911406  2017-05-15   CHN    NaN   NaN   XFM     0.0    7 -3.247970     1      1     10    10  http://www.herald.co.zw/womens-groups-fight-hu...                   herald.co.zw   South Africa
24564  655911410  2017-05-15   CHN    NaN   USA   NaN     0.0    3 -4.738150     1      1     10    10  http://www.informationclearinghouse.info/47049...  informationclearinghouse.info  United States
24565  655914568  2017-05-15   CHN    NaN   NaN   NaN     5.2    2  9.063440     1      3     31   311  http://georgiatoday.ge/news/6551/Georgia,-Chin...                georgiatoday.ge        Germany
24566  655914569  2017-05-15   CHN    NaN   NaN   NaN     1.9    2  1.644400     1      4     42    42  http://www.indiewire.com/2017/05/king-arthur-f...                  indiewire.com  United States
24567  655914570  2017-05-15   CHN    NaN   NaN   NaN     3.5    6 -1.562500     1      5     50    50    http://news.trust.org/item/20170515230813-h5isa                 news.trust.org  United States
24568  655914571  2017-05-15   CHN    NaN   NaN   NaN     6.4    6  9.063440     2      6     61    61  http://georgiatoday.ge/news/6551/Georgia,-Chin...                georgiatoday.ge        Germany
24569  655914572  2017-05-15   CHN    NaN   NaN   NaN     6.4    2  9.063440     2      6     61    61  http://georgiatoday.ge/news/6551/Georgia,-Chin...                georgiatoday.ge        Germany
24570  655914573  2017-05-15   CHN    NaN   NaN   NaN     7.4   10 -0.970874     2      7     71    71  http://www.prnewswire.com/news-releases/liqtec...                 prnewswire.com  United States
24571  655914576  2017-05-15   CHN    NaN   NaN   NaN     1.0    2 -1.344540     1      4     40    40  https://highlandernews.org/29629/experts-discu...             highlandernews.org  United States
24572  655914577  2017-05-15   CHN    NaN   RWA   NaN     3.4    4  1.392110     1      5     51    51  http://www.newtimes.co.rw/section/article/2017...                 newtimes.co.rw         Rwanda
24573  655914578  2017-05-15   CHN    NaN   USA   NaN     8.0    1  9.063440     1      5     57    57  http://georgiatoday.ge/news/6551/Georgia,-Chin...                georgiatoday.ge        Germany
24574  655914579  2017-05-15   CHN    NaN   USA   NaN     8.0    1  9.063440     1      5     57    57  http://georgiatoday.ge/news/6551/Georgia,-Chin...                georgiatoday.ge        Germany
24575  655915423  2017-05-15   CHN    NaN   NaN   NaN     4.0   10  1.973680     1      3     36    36  http://georgiatoday.ge/news/6550/China-Increas...                georgiatoday.ge        Germany

[21942 rows x 16 columns]

In [13]:
#国家报道量统计
report_num = data_country['链接'].groupby([data_country['媒体国家'],data_country['链接']]).count().reset_index(inplace=0)
report_num['链接'].groupby(report_num['媒体国家']).count().sort_values(ascending=False).reset_index(inplace=0)

                       媒体国家     0
0             United States  2796
1                     China  1156
2                     India   892
3                  Pakistan   310
4               Philippines   246
5                  Malaysia   239
6                 Hong Kong   194
7                 Australia   194
8            United Kingdom   186
9                    Canada   103
10              South Korea    96
11                   Taiwan    85
12                    Japan    84
13                  Germany    80
14                  Nigeria    80
15                Singapore    75
16             South Africa    65
17                 Thailand    55
18               Bangladesh    49
19                Sri Lanka    49
20              New Zealand    49
21                    Ghana    46
22                Indonesia    43
23             Saudi Arabia    38
24                    Kenya    29
25                  Myanmar    29
26                   France    28
27              Switzerland    27
28     United Arab Emirates    25
29                  Ireland    24
..                      ...   ...
81                  Ukraine     2
82                  Somalia     2
83                  Hungary     2
84                   Angola     2
85               Kazakhstan     2
86                  Albania     2
87                    Samoa     2
88             Sierra Leone     2
89                 Zimbabwe     2
90                Swaziland     1
91                 Slovakia     1
92   Bosnia and Herzegovina     1
93                Argentina     1
94                   Israel     1
95                  Jamaica     1
96         Papua New Guinea     1
97                  Denmark     1
98                  Ecuador     1
99                   Norway     1
100    Netherlands Antilles     1
101                 Namibia     1
102              Micronesia     1
103                Maldives     1
104                  Malawi     1
105                 Grenada     1
106                Guernsey     1
107                  Zambia     1
108                    Laos     1
109                    Iraq     1
110                 Romania     1

[111 rows x 2 columns]

In [20]:
media_num = data_country['媒体'].groupby([data_country['媒体国家'],data_country['媒体']]).count().reset_index(inplace=0)
media_num_heat = media_num['媒体'].groupby(media_num['媒体国家']).count().sort_values(ascending=False)
media_num_heat.name='报道媒体数量'
media_num_heat_top = media_num_heat.reset_index(inplace=0)
media_num_heat_top = media_num_heat_top[media_num_heat_top['报道媒体数量']>15]
media_num_heat_top
# media_num
# media_num_heat

              媒体国家  报道媒体数量
0    United States    1136
1            India     149
2   United Kingdom      92
3        Australia      79
4           Canada      60
5            China      42
6          Nigeria      34
7     South Africa      30
8         Pakistan      30
9      Philippines      29
10     South Korea      20
11        Malaysia      19
12       Singapore      19
13       Indonesia      16

In [21]:
#国家报道量
guojia_meiti = report_num['链接'].groupby(report_num['媒体国家']).count()
guojia_meiti.name = '报道量'
# guojia_meiti=guojia_meiti.reset_index(inplace=0)
# guojia_meiti=guojia_meiti.reset_index(inplace=0)
guojia_meiti=guojia_meiti.sort_values(ascending=False).reset_index(inplace=0)
guojia_meiti_heat = guojia_meiti[guojia_meiti['报道量']>50]
guojia_meiti_heat

              媒体国家   报道量
0    United States  2796
1            China  1156
2            India   892
3         Pakistan   310
4      Philippines   246
5         Malaysia   239
6        Hong Kong   194
7        Australia   194
8   United Kingdom   186
9           Canada   103
10     South Korea    96
11          Taiwan    85
12           Japan    84
13         Germany    80
14         Nigeria    80
15       Singapore    75
16    South Africa    65
17        Thailand    55

In [569]:
y3 = guojia_meiti_heat['报道量']
x3 = guojia_meiti_heat['媒体国家'].tolist()
x3_num = np.arange(len(x3))
mpl.rcParams['font.sans-serif'] = [u'KaiTi']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'国家',fontsize=16)
plt.ylabel(u'报道量',fontsize=16)
plt.title(u'庄园会晤国家关注度对比图(报道量>10)',fontsize=20)
# plt.ylim(0,y.max()+500)
ax = plt.axes()
ax.yaxis.set_major_locator(ticker.MultipleLocator(100))
ax.yaxis.set_minor_locator(ticker.MultipleLocator(20))
plt.xlim(-0.5,len(x3_num))
plt.grid(True,which='both',axis='y')
plt.bar(x3_num, y3, color='.8',width=0.5, hatch='/')
plt.xticks(x3_num+0.25,x3)
# plt.xticks(x3_num,x3,rotation=30)
plt.show()

In [22]:
#媒体报道量
media_lianjie_heat = data_country['链接'].groupby([data_country['媒体'],data_country['链接']]).count().reset_index(inplace=0)
media_lianjie_heat=media_lianjie_heat['链接'].groupby(media_lianjie_heat['媒体']).count().sort_values(ascending=False)
media_lianjie_heat.name = '媒体报道量'
media_lianjie_heat = media_lianjie_heat.reset_index(inplace=0)
media_lianjie_heat = media_lianjie_heat[media_lianjie_heat['媒体报道量']>40]
media_lianjie_heat

                    媒体  媒体报道量
0    chinadaily.com.cn    216
1     english.sina.com    207
2   news.xinhuanet.com    160
3             scmp.com    135
4              ecns.cn    124
5        4-traders.com    121
6         dnaindia.com    111
7         china.org.cn     98
8       thestar.com.my     70
9           aninews.in     61
10      globaltimes.cn     58
11      thenews.com.pk     51
12     dailymail.co.uk     50
13     sputniknews.com     49
14       bloomberg.com     44
15     taipeitimes.com     43
16         reuters.com     41

In [20]:
country_media_all = pd.read_csv('media_country_all.csv',header=None)
country_media_all.head()

                  0              1              2        3
0               NaN                           NaN      NaN
1           007.com  United States  United States  216,505
2     042mp3.com.ng        Nigeria        Nigeria  350,111
3  06880danwoog.com  United States  United States  571,903
4    10000birds.com  United States  United States  831,685

In [186]:
country_media_columns=['媒体','国家','国家1','排名']
country_media_all.rename(columns=dict(zip(np.arange(4),country_media_columns)),inplace=True)
country_media_all = country_media_all[~country_media_all['国家'].isin([' ','-'])]
country_media_all = country_media_all[~country_media_all['排名'].isin([' ','-'])][['媒体','国家','排名']]
country_media_all['排名'] = [int(i.replace(',','')) for i in country_media_all['排名']]
country_media_all.head()

                        媒体             国家       排名
1                  007.com  United States   216505
2            042mp3.com.ng        Nigeria   350111
3         06880danwoog.com  United States   571903
4           10000birds.com  United States   831685
5  1000islands-clayton.com  United States  3997356

In [99]:
ix_country = country_media_count_heat['国家'][:10]
def top(df, n=5, column='排名'):
    return df.sort_values('排名')[:n]

NameError: name 'country_media_count_heat' is not defined

In [238]:
#生成Top排行榜国家媒体列表
list_country = []
for i,name in zip([50]+[30]*6+[20]*6+[10]*7,country_media_count_heat['国家']):
#     print i,name
    list_country.append(country_media_all[['媒体','排名']].groupby(country_media_all['国家']).apply(top,n=i).ix[[name]].reset_index(inplace=0)[['国家','媒体','排名']])
country_top_media = pd.concat(list_country)
# print country_top_media
f = open('country_top_media.csv','ab+')
writer = csv.writer(f)
for row in country_top_media.values:
#     print row
    writer.writerow(row)
f.close()

In [24]:
#国家报道量分阶段统计
country_index = guojia_meiti_heat['媒体国家'].tolist()
report_num_parts = data_country['链接'].groupby([data_country['媒体国家'],data_country['日期'],data_country['链接']]).count()
report_num_parts
# report_num_parts.name = '报道量'
report_num_parts_reset = report_num_parts.reset_index(inplace=0)
report_num_parts_reset = report_num_parts_reset['链接'].groupby([report_num_parts_reset['媒体国家'],report_num_parts_reset['日期']]).count()
report_num_parts_reset = report_num_parts_reset.unstack().ix[country_index]
report_num_parts_reset
# report_num['链接'].groupby(report_num['媒体国家']).count().sort_values(ascending=False).reset_index(inplace=0)

日期          2017-05-08  2017-05-09  2017-05-10  2017-05-11  2017-05-12  2017-05-13  2017-05-14  2017-05-15
媒体国家
United States        370.0       373.0       352.0       396.0       426.0       222.0       286.0       372.0
China                138.0       148.0       155.0       151.0       184.0       142.0        97.0       144.0
India                 98.0       102.0        98.0       116.0       140.0       130.0        92.0       124.0
Pakistan              16.0        40.0        17.0        26.0        34.0        81.0        47.0        49.0
Philippines           26.0        21.0        18.0        23.0        35.0        29.0        43.0        52.0
Malaysia              20.0        21.0        11.0        33.0        44.0        27.0        37.0        51.0
Hong Kong             32.0        28.0        28.0        22.0        34.0         9.0        21.0        21.0
Australia             27.0        16.0        27.0        26.0        30.0        10.0        18.0        40.0
United Kingdom        22.0        21.0        31.0        30.0        29.0        13.0        10.0        30.0
Canada                13.0        10.0        17.0        15.0        14.0        16.0         4.0        14.0
South Korea           12.0         4.0        13.0        17.0        16.0         5.0         6.0        23.0
Taiwan                15.0        14.0        18.0        10.0         7.0         5.0         9.0         7.0
Japan                  6.0         9.0         6.0        16.0        11.0         7.0        15.0        14.0
Germany                8.0         5.0         9.0         9.0        12.0         9.0        11.0        17.0
Nigeria               11.0         9.0        12.0        14.0         9.0         4.0        11.0        12.0
Singapore              8.0         4.0         5.0        18.0         9.0         9.0         7.0        15.0
South Africa           8.0        16.0         6.0        13.0         3.0         3.0         8.0         8.0
Thailand              14.0         6.0         5.0        10.0         6.0         2.0         6.0         8.0

In [25]:
country_index = guojia_meiti_heat['媒体国家'].tolist()
# date_dict = dict(zip(report_num_parts_reset.columns,['阶段一']*8+['阶段二']*2+['阶段三']*7))
# date_dict = dict(zip(report_num_parts_reset.columns,['阶段一']*6+['阶段二']*3+['阶段三']*2))
# date_dict = dict(zip(report_num_parts_reset.columns,['阶段一']*8+['阶段二']*1+['阶段三']*7))
# date_dict = dict(zip(report_num_parts_reset.columns,['阶段一']*5+['阶段二']*2+['阶段三']*4)) #CHN-HKZ20130907
date_dict = dict(zip(report_num_parts_reset.columns,['阶段一']*6+['阶段二']*2+['阶段三']*0)) #CHN20170514
date_dict

{'2017-05-08': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-09': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-10': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-11': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-12': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-13': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xb8\x80',
 '2017-05-14': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xba\x8c',
 '2017-05-15': '\xe9\x98\xb6\xe6\xae\xb5\xe4\xba\x8c'}

In [28]:
name_head= u'CHN20170514'
# name_head= u'CHN-IDN20131003'
report_num_part_split = report_num_parts_reset.groupby(date_dict,axis=1).sum()
report_num_part_split.columns.name = '事件演化阶段'
# report_num_part_split['阶段三'] = ['']*len(guojia_meiti_heat['报道量'])
report_num_part_split['总计'] = guojia_meiti_heat['报道量'].tolist()
report_num_part_split = report_num_part_split.ix[:,['阶段一','阶段二','阶段三','总计']]
report_num_part_split.to_csv(u'{}报道量.csv'.format(name_head))
report_num_part_split

事件演化阶段    阶段一    阶段二  阶段三    总计
媒体国家
United States   2139.0  658.0  NaN  2796
China            918.0  241.0  NaN  1156
India            684.0  216.0  NaN   892
Pakistan         214.0   96.0  NaN   310
Philippines      152.0   95.0  NaN   246
Malaysia         156.0   88.0  NaN   239
Hong Kong        153.0   42.0  NaN   194
Australia        136.0   58.0  NaN   194
United Kingdom   146.0   40.0  NaN   186
Canada            85.0   18.0  NaN   103
South Korea       67.0   29.0  NaN    96
Taiwan            69.0   16.0  NaN    85
Japan             55.0   29.0  NaN    84
Germany           52.0   28.0  NaN    80
Nigeria           59.0   23.0  NaN    80
Singapore         53.0   22.0  NaN    75
South Africa      49.0   16.0  NaN    65
Thailand          43.0   14.0  NaN    55

In [127]:
columns = pd.MultiIndex.from_arrays([['报道量']*4,report_num_part_split.columns.tolist()],names=['','事件演化阶段'])
report_num_part_split.columns = columns
report_num_part_split
# pd.DataFrame(report_num_part_split.values,columns=columns)

                        报道量
事件演化阶段      阶段一   阶段二    阶段三   总计
媒体国家
United States         238.0  71.0  192.0  499
China                 117.0  30.0   70.0  217
India                  46.0  11.0   33.0   90
Hong Kong              30.0   8.0   20.0   58
Australia              26.0   7.0   20.0   53
Taiwan                 15.0  11.0   14.0   40
United Kingdom         20.0   3.0   16.0   39
Malaysia               22.0   9.0    4.0   35
Pakistan               19.0   8.0    5.0   32
Singapore              14.0   5.0   10.0   29
Indonesia              11.0   9.0    7.0   27
Canada                  9.0   3.0    8.0   20
Japan                   7.0   1.0    8.0   16
Philippines             8.0   2.0    5.0   15
South Africa            8.0   2.0    4.0   14
Sri Lanka               4.0   4.0    4.0   12
United Arab Emirates    6.0   1.0    4.0   11
Thailand                8.0   NaN    3.0   11

In [27]:
media_num_heat_top

             媒体国家  报道媒体数量
0   United States      16
1           China       7
2           India       6
3  United Kingdom       2
4      Azerbaijan       2
5           Japan       2

In [29]:
media_index = media_num_heat_top['媒体国家'].tolist()
report_num_parts = data_country['媒体'].groupby([data_country['媒体国家'],data_country['日期'],data_country['媒体']]).count().reset_index(inplace=0)
# report_num_parts
# # report_num_parts.name = '媒体数量'
# report_num_parts_reset = report_num_parts.reset_index(inplace=0)
report_num_parts_reset = report_num_parts.groupby([report_num_parts['媒体国家'],report_num_parts['日期']])['媒体'].count()
report_num_parts_reset = report_num_parts_reset.unstack().ix[media_index]
report_num_parts_reset

日期          2017-05-08  2017-05-09  2017-05-10  2017-05-11  2017-05-12  2017-05-13  2017-05-14  2017-05-15
媒体国家
United States        265.0       276.0       254.0       257.0       282.0       174.0       196.0       254.0
India                 48.0        51.0        56.0        51.0        48.0        51.0        41.0        59.0
United Kingdom        20.0        16.0        24.0        28.0        22.0        12.0         9.0        26.0
Australia             19.0        15.0        26.0        18.0        27.0         9.0        12.0        25.0
Canada                 9.0         8.0        14.0        12.0        11.0        16.0         3.0        13.0
China                 24.0        24.0        29.0        20.0        25.0        14.0        13.0        24.0
Nigeria                6.0         8.0        10.0        13.0         6.0         3.0         7.0         8.0
South Africa           8.0        11.0         5.0        10.0         3.0         3.0         6.0         6.0
Pakistan               8.0        17.0        11.0        13.0        18.0        20.0        17.0        20.0
Philippines           13.0        15.0        12.0        10.0        17.0        16.0        19.0        20.0
South Korea            9.0         2.0         5.0         8.0         9.0         5.0         4.0        12.0
Malaysia              10.0        12.0         5.0        13.0        15.0        12.0         9.0        14.0
Singapore              5.0         3.0         2.0        10.0         7.0         6.0         3.0         6.0
Indonesia              4.0         2.0         1.0         3.0         4.0         5.0         6.0         7.0

In [544]:
# report_num_part_split = report_num_parts_reset.groupby(date_dict,axis=1).sum()
# report_num_part_split.columns.name = '事件演化阶段'
# report_num_part_split['阶段三'] = ['']*len(media_index)
# report_num_part_split['总计'] = media_num_heat_top['报道媒体数量'].tolist()
# report_num_part_split

In [545]:
# columns = pd.MultiIndex.from_arrays([['报道媒体数量']*4,report_num_part_split.columns.tolist()],names=['','事件演化阶段'])
# report_num_part_split.columns = columns
# report_num_part_split

In [30]:
columns = pd.MultiIndex.from_arrays([['报道媒体数量']*len(report_num_parts_reset.columns),report_num_parts_reset.columns.tolist()],names=['','事件演化阶段'])
report_num_parts_reset.columns = columns
report_num_parts_reset

                   报道媒体数量
事件演化阶段2017-05-08 2017-05-09 2017-05-10 2017-05-11 2017-05-12 2017-05-13 2017-05-14 2017-05-15
媒体国家
United States       265.0      276.0      254.0      257.0      282.0      174.0      196.0      254.0
India                48.0       51.0       56.0       51.0       48.0       51.0       41.0       59.0
United Kingdom       20.0       16.0       24.0       28.0       22.0       12.0        9.0       26.0
Australia            19.0       15.0       26.0       18.0       27.0        9.0       12.0       25.0
Canada                9.0        8.0       14.0       12.0       11.0       16.0        3.0       13.0
China                24.0       24.0       29.0       20.0       25.0       14.0       13.0       24.0
Nigeria               6.0        8.0       10.0       13.0        6.0        3.0        7.0        8.0
South Africa          8.0       11.0        5.0       10.0        3.0        3.0        6.0        6.0
Pakistan              8.0       17.0       11.0       13.0       18.0       20.0       17.0       20.0
Philippines          13.0       15.0       12.0       10.0       17.0       16.0       19.0       20.0
South Korea           9.0        2.0        5.0        8.0        9.0        5.0        4.0       12.0
Malaysia             10.0       12.0        5.0       13.0       15.0       12.0        9.0       14.0
Singapore             5.0        3.0        2.0       10.0        7.0        6.0        3.0        6.0
Indonesia             4.0        2.0        1.0        3.0        4.0        5.0        6.0        7.0

In [31]:
#对日期进行分组
def group_dict(df, column='媒体'):
#     print df
    new = df.groupby(['日期','媒体']).count().unstack()
    new = new.groupby(date_dict,axis=0).sum().stack().reset_index(inplace=0).groupby('level_0')['媒体'].count()
#     print new
    return new
#     return df['媒体国家'][:3]

In [32]:
report_num_part_split = report_num_parts.groupby([report_num_parts['媒体国家']]).apply(group_dict).unstack().ix[media_index]
report_num_part_split.columns.name = '事件演化阶段'
# report_num_part_split['阶段三'] = ['']*len(media_index)
report_num_part_split['总计'] = media_num_heat_top['报道媒体数量'].tolist()
report_num_part_split=report_num_part_split.ix[:,['阶段一','阶段二','阶段三','总计']]
report_num_part_split.to_csv(u'{}媒体数量.csv'.format(name_head))
report_num_part_split

事件演化阶段   阶段一    阶段二  阶段三    总计
媒体国家
United States   954.0  401.0  NaN  1136
India           132.0   79.0  NaN   149
United Kingdom   81.0   31.0  NaN    92
Australia        69.0   30.0  NaN    79
Canada           51.0   16.0  NaN    60
China            40.0   25.0  NaN    42
Nigeria          29.0   12.0  NaN    34
South Africa     25.0   11.0  NaN    30
Pakistan         25.0   24.0  NaN    30
Philippines      27.0   23.0  NaN    29
South Korea      17.0   12.0  NaN    20
Malaysia         18.0   16.0  NaN    19
Singapore        17.0    6.0  NaN    19
Indonesia        10.0   10.0  NaN    16

In [136]:
country_data = pd.read_csv('country_top_media.csv',header=None)
country_data.head()

               0              1  2
0  United States     google.com  1
1  United States    youtube.com  2
2  United States      yahoo.com  5
3  United States  wikipedia.org  6
4  United States     amazon.com  9

In [550]:
columns_media = ['国家','媒体','排名']
country_data.rename(columns=dict(zip(np.arange(3), columns_media)),inplace=True)

In [551]:
country_data.head()

              国家             媒体  排名
0  United States     google.com   1
1  United States    youtube.com   2
2  United States      yahoo.com   5
3  United States  wikipedia.org   6
4  United States     amazon.com   9

In [689]:
def merge_media(df):
    new = df.reset_index(inplace=0)
    media_list = new['媒体'].tolist()
    media_list
    return '; '.join(media_list)

In [690]:
country_top_media_merge = country_data.groupby('国家').apply(merge_media)
country_top_media_merge

国家
Australia         news.com.au; abc.net.au; smh.com.au; realestat...
Canada            diply.com; cbc.ca; theweathernetwork.com; plug...
China             qq.com; sina.com.cn; csdn.net; chinadaily.com....
France            20minutes.fr; nouvelobs.com; culturebox.france...
Germany           spiegel.de; bild.de; sputniknews.com; welt.de;...
India             slideshare.net; indiatimes.com; doubleclick.ne...
Ireland           independent.ie; irishtimes.com; analysis.rte.i...
Italy             finanza.repubblica.it; firenze.repubblica.it; ...
Japan             yahoo.co.jp; dailymotion.com; appspot.com; eve...
Malaysia          lowyat.net; paultan.org; thestar.com.my; malay...
New Zealand       stuff.co.nz; nzherald.co.nz; tvnz.co.nz; masse...
Nigeria           naij.com; goal.com; vanguardngr.com; jumia.com...
Pakistan          dailypakistan.com.pk; javedch.com; dawn.com; t...
Philippines       abs-cbn.com; inquirer.net; gmanetwork.com; rap...
Russia            aliexpress.com; livejournal.com; rt.com; habra...
Singapore         straitstimes.com; allsingaporestuff.com; chann...
South Africa      absa.co.za; property24.com; dstv.com; iol.co.z...
Spain             gearbest.com; elpais.com; marca.com; elmundo.e...
United Kingdom    bbc.co.uk; theladbible.com; telegraph.co.uk; x...
United States     google.com; youtube.com; yahoo.com; wikipedia....
dtype: object

In [691]:
f = open('country_top_media_merge.csv','ab+')
writer = csv.writer(f)
for row in country_top_media_merge.reset_index(inplace=0).values:
    writer.writerow(row)
f.close()

In [452]:
country_top_media_merge.reset_index(inplace=0).values

array([['Australia',
        'news.com.au;abc.net.au;smh.com.au;realestate.com.au;anz.com;vic.gov.au;nsw.gov.au;telstra.com.au;qld.gov.au;theage.com.au;domain.com.au;sbs.com.au;nine.com.au;carsales.com.au;9news.com.au;weatherzone.com.au;unimelb.edu.au;wa.gov.au;unsw.edu.au;uq.edu.au;heraldsun.com.au;theaustralian.com.au;dailytelegraph.com.au;harveynorman.com.au;monash.edu;adelaide.edu.au;nla.gov.au;businessinsider.com.au;huffingtonpost.com.au;anu.edu.au'],
       ['Canada',
        'diply.com;cbc.ca;theweathernetwork.com;plug-in.bestbuy.ca;rbcroyalbank.com;utoronto.ca;utsc.utoronto.ca;arts.ubc.ca;ok.ubc.ca;science.ubc.ca;president.ubc.ca;theglobeandmail.com;thestar.com;atlantic.ctvnews.ca;ctvnews.ca;ottawa.ctvnews.ca;toronto.ctvnews.ca;bc.ctvnews.ca;saskatoon.ctvnews.ca;guelph.ctvnews.ca;canadaam.ctvnews.ca;winnipeg.ctvnews.ca;montreal.ctvnews.ca;windsor.ctvnews.ca;regina.ctvnews.ca;edmonton.ctvnews.ca;calgary.ctvnews.ca;barrie.ctvnews.ca;kitchener.ctvnews.ca;london.ctvnews.ca'],
       ['China',
        'qq.com;sina.com.cn;csdn.net;chinadaily.com.cn;cctv.com;xinhuanet.com;cnblogs.com;eastday.com;sciencedirect.com;caijing.com.cn;ifeng.com;springer.com;unity3d.com;ieee.org;nature.com;apache.org;huawei.com;elsevier.com;miui.com;wenxuecity.com'],
       ['France',
        '20minutes.fr;nouvelobs.com;culturebox.francetvinfo.fr;france3-regions.francetvinfo.fr;bourse.societegenerale.fr;boursorama.com;huffingtonpost.fr;votreargent.lexpress.fr;ouest-france.fr;info.arte.tv;boutique.arte.tv;investir.lesechos.fr;skyrock.com;prestashop.com;france24.com;konbini.com;rtl.fr;avaaz.org;europe1.fr;majestic.com'],
       ['Germany',
        'spiegel.de;bild.de;sputniknews.com;welt.de;dw.com;heise.de;telekom.com;zeit.de;faz.net;flightradar24.com;sz-magazin.sueddeutsche.de;finanzen.net;lufthansa.com;gamestar.de;stepstone.de;huffingtonpost.de;tagesspiegel.de;handelsblatt.com;businessinsider.de;geocaching.com'],
       ['India',
        'slideshare.net;indiatimes.com;doubleclick.net;wittyfeed.com;freepik.com;espncricinfo.com;ndtv.com;gsmarena.com;rediff.com;filehippo.com;manoramaonline.com;bhaskar.com;bookmyshow.com;wonderwoman.intoday.in;aajtak.intoday.in;origin-businesstoday.intoday.in;indiatoday.intoday.in;indianexpress.com;windows.com;moneycontrol.com;oneindia.com;india.com;thehindu.com;iqoption.com;sitepoint.com;abplive.in;hindustantimes.com;jagran.com;udacity.com;firstpost.com'],
       ['Ireland',
        'independent.ie;irishtimes.com;analysis.rte.ie;rteguide.rte.ie;rte.ie;m.rte.ie;digitalblog.rte.ie;2fm.rte.ie;thejournal.ie;irishexaminer.com;joe.ie;irishmirror.ie;finance.gov.ie;jobs.ie;breakingnews.ie;whatsnew.citizensinformation.ie;balls.ie;the42.ie;dailyedge.ie;punditarena.com'],
       ['Italy',
        'finanza.repubblica.it;firenze.repubblica.it;repubblica.it;temi.repubblica.it;espresso.repubblica.it;247.libero.it;corriere.it;italians.corriere.it;eurofound.europa.eu;eurojust.europa.eu;europol.europa.eu;europarltv.europa.eu;europarl.europa.eu;europa.eu;frontex.europa.eu;iss.europa.eu;easo.europa.eu;cor.europa.eu;ec.europa.eu;fra.europa.eu'],
       ['Japan',
        'yahoo.co.jp;dailymotion.com;appspot.com;evernote.com;hatena.ne.jp;nikkei.com;nikkeibp.co.jp;investing.com;itmedia.co.jp;asahi.com'],
       ['Malaysia',
        'lowyat.net;paultan.org;thestar.com.my;malaysiakini.com;i3investor.com;sinarharian.com.my;hmetro.com.my;freemalaysiatoday.com;malaysiandigest.com;bharian.com.my'],
       ['New Zealand',
        'stuff.co.nz;nzherald.co.nz;tvnz.co.nz;massey.ac.nz;otago.ac.nz;radionz.co.nz;victoria.ac.nz;nzcity.co.nz;odt.co.nz;scoop.co.nz'],
       ['Nigeria',
        'naij.com;goal.com;vanguardngr.com;jumia.com.ng;punchng.com;gtbank.com;lindaikejisblog.com;thenationonlineng.net;dailypost.ng;bellanaija.com;yabaleftonline.com;pulse.ng;informationng.com;360nobs.com;gistmania.com;premiumtimesng.com;saharareporters.com;allafrica.com;guardian.ng;dailytrust.com.ng;buzznigeria.com;tribuneonlineng.com;247nigerianewsupdate.co;thisdaylive.com;sunnewsonline.com;gq234.com;gossipmill.com;ubagroup.com;lifestyle.thecable.ng;nigerianbulletin.com'],
       ['Pakistan',
        'dailypakistan.com.pk;javedch.com;dawn.com;tribune.com.pk;zemtv.com;dunyanews.tv;geo.tv;paperpk.com;pakwheels.com;samaa.tv'],
       ['Philippines',
        'abs-cbn.com;inquirer.net;gmanetwork.com;rappler.com;philstar.com;mb.com.ph;sunstar.com.ph;wheninmanila.com;politics.com.ph;spin.ph;cnnphilippines.com;fhm.com.ph;clickthecity.com;manilatimes.net;panlasangpinoy.com;mindanation.com;thestandard.com.ph;topgear.com.ph;nurseslabs.com;autodeal.com.ph'],
       ['Russia',
        'aliexpress.com;livejournal.com;rt.com;habrahabr.ru;interfax.ru;novayagazeta.ru;pravoslavie.ru;hellomagazine.com;gamespace.daemon-tools.cc;club.cnews.ru'],
       ['Singapore',
        'straitstimes.com;allsingaporestuff.com;channelnewsasia.com;hardwarezone.com.sg;goodyfeed.com;asiaone.com;espnfcasia.com;propertyguru.com.sg;todayonline.com;sgcarmart.com'],
       ['South Africa',
        'absa.co.za;property24.com;dstv.com;iol.co.za;wits.ac.za;careers24.com;uct.ac.za;cars.co.za;ewn.co.za;sowetanlive.co.za;sun.ac.za;fin24.com;buzzsouthafrica.com;netwerk24.com;jobmail.co.za;mg.co.za;citizen.co.za;kickoff.com;businesstech.co.za;businesslive.co.za;markets.com;bizcommunity.com;herald.co.zw;dailymaverick.co.za;channel24.co.za;dailysun.co.za;moneyweb.co.za;health24.com;wheels24.co.za;w24.co.za'],
       ['Spain',
        'gearbest.com;elpais.com;marca.com;elmundo.es;as.com;ecodiario.eleconomista.es;elperiodico.com;huffingtonpost.es;vandal.net;meristation.com'],
       ['United Kingdom',
        'bbc.co.uk;theladbible.com;telegraph.co.uk;xe.com;mirror.co.uk;premierleague.com;sky.com;skyscanner.net;bt.com;metro.co.uk;ft.com;virginmedia.com;autotrader.co.uk;newsnow.co.uk;unilad.co.uk;90min.com;pretty52.com;zoopla.co.uk;raspberrypi.org;betfair.com;hitc.com;ox.ac.uk;cam.ac.uk;moneysavingexpert.com;dailystar.co.uk;itv.com;channel4.com;digitalspy.com;huffingtonpost.co.uk;futurelearn.com'],
       ['United States',
        'google.com;youtube.com;yahoo.com;wikipedia.org;amazon.com;reddit.com;ebay.com;msn.com;t.co;bing.com;wordpress.com;netflix.com;tumblr.com;microsoft.com;pornhub.com;apple.com;office.com;pinterest.com;github.com;wikia.com;adobe.com;ntd.tv;dropbox.com;cnn.com;ask.com;bbc.com;blastingnews.com;booking.com;nytimes.com;amazonaws.com;vice.com;quora.com;stackexchange.com;steampowered.com;espn.com;cnet.com;dailymail.co.uk;chase.com;theguardian.com;wikihow.com;godaddy.com;indeed.com;buzzfeed.com;walmart.com;weather.com;aturon.github.io;davidad.github.io;lucaspuente.github.io;imatge-upc.github.io;dopeboy.github.io']], dtype=object)

In [33]:
#媒体报道量分阶段统计
media_index = media_lianjie_heat['媒体'].tolist()
report_num_parts = data_country['链接'].groupby([data_country['媒体'],data_country['日期'],data_country['链接']]).count()
report_num_parts
# report_num_parts.name = '报道量'
report_num_parts_reset = report_num_parts.reset_index(inplace=0)
report_num_parts_reset = report_num_parts_reset['链接'].groupby([report_num_parts_reset['媒体'],report_num_parts_reset['日期']]).count()
report_num_parts_reset = report_num_parts_reset.unstack().ix[media_index]
report_num_parts_reset

日期              2017-05-08  2017-05-09  2017-05-10  2017-05-11  2017-05-12  2017-05-13  2017-05-14  2017-05-15
媒体
chinadaily.com.cn         24.0        32.0        22.0        26.0        45.0        18.0        19.0        30.0
english.sina.com          28.0        22.0        26.0        25.0        24.0        38.0        21.0        23.0
news.xinhuanet.com        21.0        15.0        20.0        27.0        26.0        28.0        11.0        12.0
scmp.com                  21.0        18.0        22.0        18.0        21.0         7.0        14.0        15.0
ecns.cn                   11.0        15.0        18.0        17.0        20.0        19.0         7.0        17.0
4-traders.com             23.0        11.0        13.0        12.0        14.0        12.0        15.0        21.0
dnaindia.com              13.0        13.0        14.0        22.0        15.0        10.0        13.0        13.0
china.org.cn              10.0         6.0        11.0        10.0        16.0        19.0        13.0        13.0
thestar.com.my             6.0         8.0         5.0        12.0        12.0         8.0        11.0        11.0
aninews.in                 4.0         5.0         2.0         6.0        18.0         8.0         7.0        11.0
globaltimes.cn             8.0         9.0         8.0         7.0         3.0         2.0        10.0        11.0
thenews.com.pk             3.0         8.0         2.0         9.0         4.0        10.0         9.0         6.0
dailymail.co.uk            6.0        11.0         5.0        10.0         5.0         2.0         9.0         2.0
sputniknews.com            3.0         4.0         3.0         6.0         8.0         7.0         7.0        11.0
bloomberg.com              3.0         9.0         7.0         6.0         7.0         NaN         4.0         8.0
taipeitimes.com            7.0         8.0         9.0         5.0         3.0         2.0         6.0         3.0
reuters.com                3.0         8.0         5.0         7.0         9.0         2.0         3.0         4.0

In [34]:
report_num_part_split = report_num_parts_reset.groupby(date_dict,axis=1).sum()
report_num_part_split.columns.name = '事件演化阶段'
# report_num_part_split['阶段三'] = ['']*len(media_lianjie_heat['媒体报道量'])
report_num_part_split['总计'] = media_lianjie_heat['媒体报道量'].tolist()
report_num_part_split = report_num_part_split.ix[:,['阶段一','阶段二','阶段三','总计']]
report_num_part_split.to_csv(u'{}媒体报道量.csv'.format(name_head))
report_num_part_split

事件演化阶段    阶段一   阶段二  阶段三   总计
媒体
chinadaily.com.cn   167.0  49.0  NaN  216
english.sina.com    163.0  44.0  NaN  207
news.xinhuanet.com  137.0  23.0  NaN  160
scmp.com            107.0  29.0  NaN  135
ecns.cn             100.0  24.0  NaN  124
4-traders.com        85.0  36.0  NaN  121
dnaindia.com         87.0  26.0  NaN  111
china.org.cn         72.0  26.0  NaN   98
thestar.com.my       51.0  22.0  NaN   70
aninews.in           43.0  18.0  NaN   61
globaltimes.cn       37.0  21.0  NaN   58
thenews.com.pk       36.0  15.0  NaN   51
dailymail.co.uk      39.0  11.0  NaN   50
sputniknews.com      31.0  18.0  NaN   49
bloomberg.com        32.0  12.0  NaN   44
taipeitimes.com      34.0   9.0  NaN   43
reuters.com          34.0   7.0  NaN   41